/* fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Work+Sans&display=swap");

:root {
  --orange: #ff900e;
  --black: #131313;
  --gray: #727272;
}

/* html body */
body {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* primary button */
.btn-primary {
  background: var(--orange);
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 20px 24px;
  border: none;
}
/* primary button end */
/* all global class */
p {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 32px;
  margin-top: 0px;
  line-height: 26px;
}
.orange {
  color: var(--orange);
  font-weight: 700;
}
.black {
  color: var(--black);
  font-weight: 700;
}
/* all global class */
/* header section start */
header {
  background: rgba(255, 144, 14, 0.1);
}

/* navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.nav-heading {
  font-weight: 700;
  font-size: 45px;
  color: var(--black);
}
.nav-items > ul {
  padding: 0;
  display: flex;
  color: #424242;
}
.nav-items > ul > li {
  display: inline;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding-right: 50px;
}
.nav-items > ul > li:last-child {
  padding-right: 0;
}
/* navbar end */

/* header container start */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 50px;
  width: 80%;
  margin: auto;
}

.header-content {
  align-self: center;
  width: 65%;
  text-align: center;
}
.header-content h1 {
  font-weight: 700;
  font-size: 64px;
  color: var(--black);
  margin-top: 102px;
  margin-bottom: 32px;
}

.header-image {
  margin-bottom: 45px;
}
.header-image img {
  height: 700px;
  width: 100%;
}
/* header container end */

/* header section end*/

/* main section start */

/* main body end*/
main {
  width: 80%;
  margin: auto;
}
/* main body end */

/* quick list container  start */
.container-quick-list {
  display: flex;
  gap: 73px;
  padding-top: 85px;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
}
.quick-list-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  width: 60%;
}
.team-img {
  height: 100%;
  width: 100%;
}
.quick-list-content {
  width: 40%;
}
.quick-list-content h3 {
  font-weight: 500;
  font-size: 45px;
  color: var(--gray);
  margin-bottom: 24px;
}
/* quick list container  end */
/* feature container  start */
.features {
  padding-top: 130px;
  display: flex;
  flex-direction: row-reverse;
  gap: 54px;
}
.feature-image {
  width: 60%;
}

.architect-img {
  float: right;
  width: 90%;
  height: 982px;
}
.feature-content {
  width: 40%;
  height: 100%;
}
.bordered-heading {
  border-left: 6px solid var(--orange);
}
.bordered-heading h3 {
  padding-left: 25px;
  font-weight: 700;
  font-size: 45px;
  color: var(--black);
  margin-bottom: 24px;
}

.feature-grid-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.feature-grid-content .item {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}
.feature-grid-content .item .item-details {
  margin: 30px 42px 30px 30px;
}
.feature-grid-content .item .item-details h5 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.btn-experience {
  background: var(--orange);
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 46px 42px;
  border: none;
  translate: -15% -70%;
}

.btn-experience .year {
  font-weight: 700;
  font-size: 65px;
}
.btn-experience .exp {
  font-weight: 500;
  font-size: 25px;
}
/* feature container  end */
/* fact container  start */
.fact-head {
  width: 40%;
}
.fact-head h3 {
  font-weight: 700;
  font-size: 45px;
  color: var(--black);
  margin-bottom: 24px;
  margin-top: 130px;
}
.facts-items {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.fact-item {
  border: 1px solid var(--orange);
  border-radius: 8px;
  height: 240px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fact-item:hover {
  height: 340px;
  width: 340px;
  background-color: rgba(255, 144, 14, 0.1);
  transform: rotate(360deg) translate(50px, 20%);
  transition: width 2s, height 2s, transform 2s,
    background-color 3s ease-in-out 0.5s;
}

.fact-item h4 {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-item p {
  font-weight: 600;
  font-size: 20px;
}
/* fact container  end */
/* sponsor container  start */
.sponsors {
  margin-top: 180px;
}
.sponsor-head {
  text-align: center;
}
.sponsor-head h3 {
  font-weight: 700;
  font-size: 45px;
  color: var(--black);
  margin-bottom: 24px;
}
.sponcor-img {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 130px;
  margin-top: 50px;
}
/* sponsor container end */

/* main section end */

/* footer start */
footer {
  padding: 40px;
  text-align: center;
  width: 80%;
  margin: auto;
  background-color: #fff4e7;
}
footer p {
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  margin: 0;
}

/* footer section  start*/
.contact {
  display: flex;
  gap: 80px;
  margin-bottom: 50px;
}
.contact .address,
.feedback {
  width: 50%;
}
.contact .address h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
}

.btn-send {
  background: var(--orange);
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  border: none;
}
.contact .feedback h6 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 20px;
}
/* footer section end */
/* footer end */

/* media query */

@media only screen and (max-width: 667px) {
  body {
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .nav-items > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
  .nav-items > ul > li {
    padding: 0;
  }

  .header-content {
    width: 100%;
  }
  .header-image img {
    height: fit-content;
  }
  .container-quick-list {
    flex-direction: column;
  }

  .quick-list-image {
    grid-template-columns: repeat(1, 1fr);
    width: 85%;
  }
  .team-img {
    height: 100%;
    width: 100%;
  }
  .quick-list-content {
    width: 100%;
  }

  /* feature container  start */
  .features {
    padding-top: 130px;
    flex-direction: column-reverse;
  }
  .feature-image {
    width: 100%;
  }

  .architect-img {
    float: right;
    width: 100%;
    height: 100%;
  }
  .feature-content {
    width: 100%;
  }

  .btn-experience {
    font-weight: 600;
    font-size: 20px;
    padding: 36px 32px;
  }

  .btn-experience .year {
    font-weight: 700;
    font-size: 35px;
  }
  .btn-experience .exp {
    font-weight: 500;
    font-size: 20px;
  }
  /* feature container  end */
  /* fact container  start */
  .fact-head {
    width: 100%;
  }

  .facts-items {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
  .fact-item:hover {
    height: 300px;
    width: 300px;
    background-color: rgba(255, 144, 14, 0.1);
    transform: rotate(360deg) translate(30px, 10%);
    transition: width 2s, height 2s, transform 2s,
      background-color 3s ease-in-out 0.5s;
  }

  .sponcor-img {
    flex-direction: column;
    row-gap: 40px;
  }

  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact .address,
  .feedback {
    width: 100%;
  }

  .feedback-content textarea {
    height: 80px;
    width: 250px;
  }
  /* footer section end */
  /* footer end */
}
